.chip-rect, .chip-nudge {
  fill: white;
  stroke-width: 2px;
  stroke: black;
}

.pin-label {
  fill: white;
}

.pin-rect {
  fill: white;
  stroke-width: 2px;
  stroke: black;
}

svg {
  margin: auto;
  display: block;
  user-select: none;
}

