table {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.button-container {
  margin: 20px;
  text-align: right;
}

.datasheet-icon:hover {
  color: lightgray;
}

.mat-column-code {
  padding: 0px 10px;
}

.mat-column-name {
  padding: 0px 10px;
}

.mat-column-datasheet {
  text-align: center;
  width: 20px;
  padding: 0px 5px;
}

.mat-column-creator {
  padding: 0px 10px;
  text-align: center;
}

.mat-row:hover {
  cursor: pointer;
  background-color: rgba($color: #ffffff, $alpha: 0.04);
}
