
form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.add-pin-btn {
  margin: auto;
  display: block;
}

.chip-svg {
  position: relative;
  top: 0px;
  left: 0px;
}
