
form {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

form div {
  flex: 40%;
  margin: 20px;
}

@media (max-width: 800px) {
  form div {
    flex: 100%;
  }
}

.full-width {
  width: 100%;
}

.add-pin-btn {
  margin: auto;
  display: block;
}

.chip-svg {
  position: relative;
  top: 0px;
  left: 0px;
}

.btn-submit {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
