app-chip-svg {
  display: block;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.datasheet {
  color: white;
  float: right;
}

.datasheet span {
  vertical-align: super;
}

#body {
  min-width: 60vw;
}

.creator {
  font-style: italic;
  font-size: 12px;
}
