<div id="body">

  <div id="editButton" *ngIf="project.creator === auth.user?._id">
    <button  mat-raised-button color="primary" (click)="openEditor()">Edit Project</button>
  </div>

  <h2>{{project.title}}</h2>

  <span *ngIf="creator" class="creator">by {{(creator | async)?.username}}</span>

  <p>
    {{project.description}}
  </p>


  <table mat-table [dataSource]="projectChips">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let chipAmount"> {{chipAmount.chip.code}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let chipAmount"> {{chipAmount.chip.name}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let chipAmount"> x{{chipAmount.amount}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="chipDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: chipDisplayedColumns"></tr>
  </table>

</div>
